*:focus {
	outline: none;
}

/************************************************/
#selected_recipe_view{
	display: none;
}

#container{
	
	background: rgb(227,227,227);
}

#main_contents {
	width: 1200px;
	margin: 0 auto;
	border: 1px solid rgba(0,0,0,0);
}



/************메인콘텐츠 시작***********/
/* 선택된 재료부분*/
#selected_ing_list{
    position: fixed;
    transform: translate(-50%, -50%);
    height: 100px;
    left: 50%;
    top: 100px;
}
#selected_ing_div {
	width: 900px;
	height: 120px;
	position: fixed;
	top: 700px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(240, 240, 240);
	border-radius: 20px;
    padding-left: 20px;
    text-align: center;
}

#tt{	
    font-size: 26px;
    font-style: italic;    
    left: 300px;
    position: fixed;
    z-index: -1;
}

/* 선택된 재료 박스 */
.selected_ing {
	height: 38px;
	background-color: rgb(180, 180, 180);
	margin: 10px;
    margin-left: 5px;
	float: left;
}

/* 선택된 재료 이름 */
.selected_ing p {
	display: inline-block;
	margin-top: 8px;
	margin-left: 7px;
	font-size: 12px;
	color: antiquewhite;
}

/* 선택된 재료 닫기버튼 */
.close_ing {
	float: right;
	margin: 10px;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	border: none;
	background-color: black;
	opacity: 0.3;
}