@charset "UTF-8";

* {
	font-family: 'Noto Sans KR';
}

#R_header, #R_body {
	margin: 0 auto;
	width: 760px;
	text-align: center;
}

#R_header {
	height: 670px;
	background: rgb(250,250,250);
	margin-top: 150px;
	padding-top: 50px;
}

#R_image {
	width: 570px;
	height: 350px;
	margin-top: 50px;
	overflow: hidden;
	margin: 50px auto;
}

#R_image img {
	width: 100%;
	margin-top: -130px;
}

#R_header h2 {
	margin-top: 50px;
}

#R_body {
	background: blue;
	height: 1500px;
}